.additional-goods {
  padding: 25px 20px 38px;
}

.additional-goods__heading-box {
  position: relative;
  display: flex;
  align-items: top;
  padding-bottom: 32px;
  border-bottom: 1px solid @border;

  &::after {
    .pseudo;
    z-index: -1;
    top: 12px;
    right: -20px;
    height: 3px;
    width: 100%;
    background-color: @bg-accent;
  }
}

.additional-goods__heading {
  margin: 0;
  padding-right: 22px;
  background-color: @bg-light;
  font-family: @additional-font;
  font-size: 24px;
  font-weight: 400;
}

.additional-goods__list {
  .list-reset();
}

.additional-goods__item {
  padding: 12px 0 18px;
  border-bottom: 1px solid @border;
}

.additional-goods__name {
  margin: 0;
  font-family: @additional-font;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: @text-accent;
}

.additional-goods__table {
  margin-top: 10px;
  font-size: 16px;
}

.additional-goods__button {
  margin-top: 14px;
  width: 100%;
}
