.button {
  display: block;
  padding: 11px 10px 10px;
  background-color: @bg-accent;
  border: none;
  text-align: center;
  font-family: @additional-font;
  font-size: 16px;
  text-transform: uppercase;
  color: @text-light;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: @bg-accent-dark;
  }

  &:active {
    color: fade(@text-light, 30%);
  }
}
