.catalog {
  margin-top: 18px;
}

.catalog__heading-box {
  padding-bottom: 20px;
  border-bottom: 1px solid @border-lightest;
}

.catalog__heading {
  margin: 0;
}

.catalog__list {
  .list-reset();
}

.catalog__item {
  border-bottom: 1px solid @border-lightest;
}

.catalog__show-more {
  border-bottom: 1px solid @border-lightest;
}

@media (min-width: 768px) {
  .catalog {
    margin-top: 40px;
  }

  .catalog__heading-box {
    padding-bottom: 0;
    border-bottom: none;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .wrapper-tablet();
    margin-top: 170px;
  }

  .catalog__item {
    background-color: @die;

    &:nth-child(n + 3) {
      margin-top: 140px;
    }
  }

  .catalog__item,
  .catalog__show-more {
    width: 320px;
    border-bottom: none;
  }

  .catalog__show-more {
    margin-top: 140px;
  }
}

@media (min-width: 1300px) {
  .catalog {
    margin-top: 80px;
  }

  .catalog__list {
    .wrapper-desktop();
    margin-top: 170px;
  }

  .catalog__item {
    padding: 20px;
    width: 245px;

    &:nth-child(n + 3) {
      margin-top: 0;
    }

    &:nth-child(n + 5) {
      margin-top: 145px;
    }
  }

  .catalog__show-more {
    margin-top: 145px;
    width: 245px;
  }
}
