.copyright {
  padding-top: 29px;
  padding-bottom: 30px;
}

.copyright__link {
  position: relative;
  display: flex;
  align-items: center;
  color: @text-main;
  font-size: 16px;

  &::after {
    .pseudo();
    top: -11px;
    right: -8px;
    width: 42px;
    height: 41px;
    background-image: url("../img/htmlacademy.svg");
    .bg-image();
  }

  &:hover::after {
    background-image: url("../img/htmlacademy-green.svg");
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .copyright {
    margin: 0;
    padding: 0;
    width: auto;
  }

  .copyright__link {
    padding-right: 50px;
    padding-bottom: 9px;
  }
}

@media (min-width: 1300px) {
  .copyright__link {
    padding-bottom: 0;
  }
}
