.example {
  margin-top: 42px;
  padding-bottom: 34px;
  background-color: @die;
}

.example__wrapper {
  .wrapper-mobile();
  padding-top: 26px;
}

.example__heading {
  margin: 0;
}

.example__text {
  margin: 34px 0 0;
}

.example__indicators {
  margin-top: 26px;
}

.example__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__result {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0 0 15px;
  padding: 11px 13px 11px;
  width: 125px;
  border: 1px solid @border;
  border-radius: 3px;
}

.example__value {
  color: @text-accent;
  font-size: 24px;
  font-family: @additional-font;
  text-transform: uppercase;
}

.example__indicator {
  margin: 6px 0 -25px;
  padding: 0 5px;
  width: 87px;
  background-color: @die;
  color: @text-main;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}

.example__cost {
  margin: 21px 0 0;
  width: 100%;
  color: @text-accent;
  font-size: 14px;
  font-family: @additional-font;
  text-align: center;
  text-transform: uppercase;
}

.example__slider {
  margin-top: 36px;
}

@media (min-width: @tablet-width) {
  .example {
    margin-top: 58px;
    padding-bottom: 0;
    background-color: @bg-light;
    border-top: 1px solid #e6e6e6;
  }

  .example__wrapper {
    .wrapper-tablet();
    padding-top: 39px;
  }

  .example__text {
    margin-top: 59px;
  }

  .example__indicators {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 53px;
  }

  .example__box {
    width: 366px;
  }

  .example__result {
    padding: 15px 5px 25px;
    width: 162px;
  }

  .example__value {
    font-size: 30px;
    line-height: 37px;
  }

  .example__indicator {
    margin: 11px 0 -32px;
    padding: 0 8px;
    width: auto;
    background-color: @bg-light;
    font-size: 14px;
    line-height: 14px;
  }

  .example__cost {
    margin-top: 0;
    margin-left: auto;
    padding-bottom: 15px;
    width: auto;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
  }

  .example__price {
    display: block;
  }

  .example__slider {
    margin-top: 72px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    margin-top: 218px;
    padding-bottom: 55px;
    border-top: none;
    background: @die;
  }

  .example--show-after {
    background: linear-gradient(to left, #eaeaea 50%, @die 50%, @die 100%);
  }

  .example__general-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .wrapper-desktop();
  }

  .example__wrapper {
    margin: 0;
    padding: 0;
    width: 435px;
  }

  .example__heading {
    margin-top: -140px;
  }

  .example__text {
    margin-top: 141px;
  }

  .example__indicators {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 68px;
  }

  .example__price {
    display: inline;
    margin-left: 60px;
  }

  .example__indicator {
    background-color: @die;
  }

  .example__cost {
    margin-top: 41px;
    margin-left: 0;
  }

  .example__slider {
    margin-top: -192px;
    width: 620px;
  }
}
