.gift {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  padding: 66px 55px 43px;
  background-color: @bg-accent;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  &::before {
    content: "";
    width: 55px;
    height: 60px;
    background-image: url("../img/icon-gift.svg");
    .bg-image();
  }
}

.gift__text {
  margin: 62px 0 0;
  color: @text-light;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .gift {
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    padding: 62px 125px 69px 90px;
    min-height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
  }

  .gift__text {
    margin-top: 10px;
    width: 160px;
    text-align: left;
  }
}

@media (min-width: 1300px) {
  .gift {
    justify-content: center;
    align-items: flex-start;
    margin-top: 0;
    padding: 65px 45px 42px;
    width: 245px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
  }

  .gift__text {
    margin-top: 61px;
    text-align: center;
  }
}
