.main-nav__list {
  display: flex;
  flex-direction: column;
  .list-reset();
}

@media (min-width: 768px) {
  .main-nav__list {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media (min-width: 1300px) {
  .main-nav {
    max-width: 50%;
  }
}

// Проверено
