.main-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.main-nav__toggle {
  position: absolute;
  top: 23px;
  right: 23px;
  cursor: pointer;
}

.main-nav__toggle--close {
  width: 18px;
  height: 18px;
  background-image: url(../img/icon-close.svg);
  background-color: transparent;
  border: none;
}
