.page-footer {
  margin-top: 35px;
}

.page-footer--index {
  margin-top: 0;
}

.page-footer__box {
  background-color: @die;
}

.page-footer__logo {
  display: block;
  padding-top: 40px;
  padding-bottom: 27px;
  border-bottom: 1px solid @border-light;
  text-align: center;

  &:not(&--index) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.page-footer__logo-img {
  width: 128px;
  height: 24px;
}

@media (min-width: 768px) {
  .page-footer:not(.page-footer--index) {
    margin-top: 76px;
  }

  .page-footer__wrapper {
    padding-top: 60px;
    padding-bottom: 54px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    margin: 0;
    padding: 0;
    width: 128px;
    border: none;
  }
}

@media (min-width: 1300px) {
  .page-footer:not(.page-footer--index) {
    margin-top: 85px;
  }
}
