.principle__wrapper {
  margin-top: 32px;
}

.principle__heading {
  margin: 0;
}

.principle__list {
  margin: 37px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.principle__item {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 80px;
  min-height: 60px;

  &:not(:first-child) {
    margin-top: 20px;
  }

  &::before {
    .pseudo();
    width: 60px;
    height: 60px;
    left: 0;
    background-color: @bg-accent;
    .bg-image();
  }

  &--benefit::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--quickly::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--quantity::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--deadlines::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

@media (min-width: 768px) {
  .principle__wrapper {
    margin-top: 32px;
  }

  .principle__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .principle__item {
    padding: 100px 0 0;
    width: 245px;
    min-height: 228px;

    &:not(:first-child) {
      margin-top: 0;
    }

    &:nth-child(n + 3) {
      margin-top: 50px;
    }

    &::before {
      top: 0;
      width: 80px;
      height: 80px;
      background-position: 10px 10px;
    }

    &::after {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      height: 228px;
      font-family: @additional-font;
      font-size: 281px;
      line-height: 205px;
      color: @die;
    }

    &:nth-child(1)::after {
      content: "1";
    }

    &:nth-child(2)::after {
      content: "2";
    }

    &:nth-child(3)::after {
      content: "3";
    }

    &:nth-child(4)::after {
      content: "4";
    }
  }
}

@media (min-width: 1300px) {
  .principle__wrapper {
    margin-top: 70px;
  }

  .principle__item:nth-child(n + 3) {
    margin-top: 0;
  }
}
