.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -1px;
  padding: 21px 17px 25px 18px;
  border: 1px solid @border-lightest;
}

.product__box {
  flex-grow: 1;
}

.product__name {
  margin: 0;
  color: @text-accent;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: @additional-font;
  text-transform: uppercase;
}

.product__type {
  display: block;
}

.product__list {
  margin-top: 12px;
}

.product__img-link {
  order: -1;
  margin-top: -21px;
  margin-bottom: -4px;
}

.product__img {
  max-width: initial;
  width: 140px;
  height: 144px;
}

.product__button {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .product {
    padding-right: 35px;
    padding-left: 36px;
    padding-bottom: 39px;
  }

  .product__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product__name {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .product__type {
    display: inline;
  }

  .product__list {
    margin-top: 18px;
  }

  .product__weight {
    display: block;
  }

  .product__value,
  .product__field {
    padding: 8px 1px;
    border-bottom: 1px solid @border;
  }

  .product__img-link {
    margin: -68px 0 32px -37px;
  }

  .product__img-link--big {
    margin-top: -104px;
  }

  .product__img {
    width: 324px;
  }

  .product__img--small {
    height: 174px;
  }

  .product__img--big {
    height: 208px;
  }

  .product__button {
    margin-top: 35px;
  }
}

@media (min-width: @desktop-width) {
  .product {
    padding-left: 36px;
    padding-right: 36px;
  }

  .product__img {
    width: 245px;
  }

  .product__button {
    margin-top: 34px;
  }
}
