.product__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .wrapper-mobile();
}

.product__box {
  flex-grow: 1;
  padding: 21px 0 0;
}

.product__name {
  margin: 0;
  font-family: @additional-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: @text-accent;
}

.product__weight {
  display: block;
}

.product__list {
  margin-top: 12px;
}

.product__img {
  order: -1;
}

.product__button {
  width: 100%;
}

@media (min-width: 768px) {
  .product__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product__value,
  .product__field {
    padding: 9px 1px 10px;
    border-bottom: 1px solid @border;
  }

  .product__img {
    margin: -80px auto 0;
  }

  .product__button {
    margin-top: 30px;
  }
}

@media (min-width: 1300px) {
  .product__wrapper {
    padding: 0;
    width: auto;
  }
}
