.program {
  margin-top: 25px;
}

.program__instruction {
  margin-top: 34px;
  font-family: @additional-font;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @text-accent;
}

.program__form {
  margin-top: 40px;
}

.program__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.program__fieldset--goal,
.program__fieldset--about {
  .wrapper-mobile();
}

.program__fieldset--contacts,
.program__fieldset--comment {
  margin-top: 30px;
}

.program__fieldset--goal {
  margin-top: 23px;
}

.program__fieldset--additionally {
  margin-top: 24px;
}

.program__legend-box {
  display: flex;
  align-items: top;
  width: 100%;
}

.program__list {
  .list-reset();
}

.program__list--goal {
  width: 320px;
  padding: 20px 19px;
  border: 1px solid @border-lightest;
}

.program__list--contacts {
  margin-top: 30px;
}

.program__list--additionally {
  margin-top: 32px;
}

.program__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: @additional-font;
  font-size: 16px;

  &:not(:first-child) {
    margin-top: 15px;
  }
}

// Radiobuttons [START]
.program__item--radio:not(:first-child) {
  margin-top: 13px;
}

.program__radio + .program__label {
  position: relative;

  &::before {
    content: "";
    margin-right: 16px;
    left: 2px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid @form-element;
    cursor: pointer;
  }

  &:hover::before {
    border-color: @form-element-hover;
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}

.program__radio:checked + .program__label::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  width: 12px;
  height: 12px;
  background-color: @bg-accent;
  border-radius: 50%;
}
// Radiobuttons [END]

// Checkbox [START]
.program__item--checkbox:not(:first-child) {
  margin-top: 12px;
}

.program__checkbox + .program__label {
  position: relative;

  &::before {
    content: "";
    left: 2px;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    border: 1px solid @form-element;
    cursor: pointer;
  }

  &:hover::before {
    border-color: @form-element-hover;
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}

.program__checkbox:checked + .program__label::after {
  .pseudo();
  left: 4px;
  width: 21px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  .bg-image();
}
// Checkbox [END]

.program__label {
  display: flex;
  align-items: center;
  color: @text-accent;
  text-transform: uppercase;
  cursor: pointer;
}

.program__label--radio:active,
.program__label--checkbox:active {
  opacity: 0.3;
}

.program__input {
  flex-grow: 1;
  margin-left: 14px;
  padding: 12px 14px 12px 13px;
  width: 170px;
  border: 1px solid @border-lighter;
  text-transform: uppercase;
  outline: none;

  &--error {
    border-color: @border-error;
  }

  &::placeholder {
    color: @text-main;
  }

  &:hover {
    border-color: @border;
  }

  &:focus {
    border-color: @border-focus;
  }
}

.program__input--email {
  padding-right: 45px;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-size: 17px 13px;
  background-position: right 16px top 17px;

  &-error {
    background-image: url("../img/icon-mail-error.svg");
  }

  &:focus {
    background-image: url("../img/icon-mail-active.svg");
  }
}

.program__input--phone-number {
  padding-right: 45px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: right 13px top 15px;

  &-error {
    background-image: url("../img/icon-phone-error.svg");
  }

  &:focus {
    background-image: url("../img/icon-phone-active.svg");
  }
}

.program__textarea {
  margin-top: 32px;
  padding: 13px 14px;
  width: 100%;
  min-height: 149px;
  border: none;
  box-shadow: 0 0 0 1px @border-lighter;
  resize: vertical;
  font-size: 16px;
  font-family: @additional-font;
  text-transform: uppercase;
  outline: none;

  &::placeholder {
    color: @text-main;
  }

  &:hover {
    box-shadow: 0 0 0 1px @border;
  }

  &:focus {
    box-shadow: 0 0 0 1px @border-focus;
  }
}

.program__footer {
  margin-top: 35px;
}

.program__button {
  width: 100%;
}

.program__note {
  margin: 22px 0 0;
  color: @text-main;
  font-size: 14px;
  text-align: center;
}

@media (min-width: 768px) {
  .program {
    margin-top: 50px;
  }

  .program__instruction {
    margin-top: 50px;
    padding-right: 245px;
    font-size: 20px;
    line-height: 30px;
  }

  .program__form {
    margin-top: 67px;
  }

  .program__fieldset--about {
    .wrapper-small();
  }

  .program__fieldset--goal {
    .wrapper-small();
    margin-top: 73px;
  }

  .program__fieldset--contacts {
    margin-top: 75px;
  }

  .program__fieldset--comment {
    margin-top: 66px;
  }

  .program__fieldset--additionally {
    margin-top: 61px;
  }

  .program__list--goal {
    padding: 23px 28px 25px;
    width: auto;
  }

  .program__list--contacts {
    margin-top: 73px;
  }

  .program__list--additionally {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 55px;
  }

  .program__item:not(:first-child) {
    margin-top: 20px;
  }

  // Radiobuttons [START]
  .program__item--radio:not(:first-child) {
    margin-top: 13px;
  }

  .program__radio + .program__label::before {
    margin-right: 18px;
    width: 40px;
    height: 40px;
  }

  .program__radio:checked + .program__label::after {
    top: 11px;
    left: 11px;
    width: 18px;
    height: 18px;
  }
  // Radiobuttons [END]

  // Checkbox [START]
  .program__item--checkbox {
    width: 285px;
    min-height: 30px;

    &:nth-child(n + 2) {
      margin-top: 0;
    }

    &:nth-child(n + 3) {
      margin-top: 32px;
    }

    &:nth-child(2n + 2) {
      margin-left: 20px;
    }
  }

  .program__checkbox + .program__label::before {
    margin-right: 18px;
    width: 40px;
    height: 40px;
  }

  .program__checkbox:checked + .program__label::after {
    left: 10px;
  }
  // Checkbox [END]

  .program__label {
    font-size: 20px;
    line-height: 20px;
  }

  .program__input {
    margin-left: 18px;
    padding: 16px 14px 16px 17px;
    height: 52px;

    &::placeholder {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .program__textarea {
    margin-top: 74px;
    padding: 14px 20px;
    min-height: 173px;
    font-size: 20px;
    line-height: 20px;
  }

  .program__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 54px;
  }

  .program__button {
    padding: 15px 15px 16px;
    width: 283px;
    font-size: 20px;
    line-height: 20px;
  }

  .program__note {
    margin: 0 0 0 62px;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: 1300px) {
  .program {
    margin-top: 68px;
  }

  .program__questionnaire {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .wrapper-desktop();
  }

  .program__fieldset--about {
    margin: 0;
    padding: 0;
    width: 570px;
  }

  .program__fieldset--goal {
    margin: 0 0 0 80px;
    padding: 0;
    width: auto;
  }

  .program__fieldset--contacts,
  .program__fieldset--comment {
    margin-top: 68px;
  }

  .program__fieldset--additionally {
    margin-top: 63px;
  }

  .program__list--goal {
    width: 570px;
  }

  .program__list--contacts {
    display: flex;
    justify-content: space-between;
  }

  .program__list--additionally {
    justify-content: initial;
  }

  .program__item {
    width: 570px;
  }

  .program__item:not(:first-child).program__item--phone-number,
  .program__item--checkbox:nth-child(n + 3) {
    margin-top: 0;
  }

  .program__item--radio {
    width: auto;
  }

  .program__item--checkbox {
    width: 218px;

    &:not(:first-child) {
      margin-left: 107px;
    }
  }

  .program__input--email {
    background-position: right 19px top 20px;
  }

  .program__input--phone-number {
    background-position: right 18px top 17px;
  }

  .program__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 62px;
  }

  .program__button,
  .program__note {
    width: 570px;
  }

  .program__note {
    margin-top: 0;
    text-align: left;
  }
}
