.scale {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  margin: 0 15px;
  padding: 3px 5px;
  width: 84px;
  height: 14px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 8px;
  cursor: pointer;
}

.scale__value {
  width: 50%;
  background-color: @lightgreen;
  border-radius: 8px;
}
