.show-more {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 20px 25px;
  border: 1px solid @border-lightest;

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("../img/icon-plus-mobile.svg");
    .bg-image();
    opacity: 0.3;
  }
}

.show-more__text {
  margin: 24px 0 0;
  color: @text-accent;
  font-size: 16px;
  font-family: @additional-font;
  text-transform: uppercase;
}

.show-more__correction {
  margin: 8px 0 0;
  color: @text-main;
  font-size: 12px;
  line-height: 16px;
}

.show-more__button {
  margin-top: 21px;
  width: 100%;
  background-color: @die;
  border: none;
  color: @text-main;

  &:hover,
  &:focus {
    background-color: @die-hover;
  }

  &:active {
    color: fade(@text-main, 30%);
  }
}

@media (min-width: @tablet-width) {
  .show-more {
    padding: 55px 35px 37px;

    &::before {
      width: 60px;
      height: 60px;
      background-image: url("../img/icon-plus.svg");
    }
  }

  .show-more__text {
    margin-top: 50px;
    width: 170px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .show-more__correction {
    margin-top: 26px;
    width: 170px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  .show-more__button {
    margin-top: auto;
  }
}

@media (min-width: @desktop-width) {
  .show-more {
    padding-top: 54px;
  }

  .show-more__text {
    margin-top: 49px;
  }

  .show-more__correction {
    margin-top: 28px;
  }
}
