.site-list__item {
  border-bottom: 1px solid @border-lighter;
}

.site-list__link,
.site-list__link-index {
  display: block;
  box-sizing: border-box;
  .wrapper-mobile();
  padding-top: 22px;
  padding-bottom: 20px;
  color: @text-accent;
  font-weight: 500;
  font-size: 20px;
  font-family: @additional-font;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .site-list__item {
    border-bottom: none;

    &:not(:first-child) {
      margin-left: 36px;
    }
  }

  .site-list__link,
  .site-list__link-index {
    padding: 11px 0;
    width: auto;
    font-weight: 400;
    font-size: 18px;

    &--current {
      border-bottom: 2px solid @bg-accent;
    }
  }

  .site-list__link-index {
    .state-navigation-links();
  }

  .site-list__link {
    .state-navigation-links();
  }
}

@media (min-width: @desktop-width) {
  .site-list__item:not(:first-child) {
    margin-left: 34px;
  }

  .site-list__link,
  .site-list__link-index {
    font-size: 20px;
  }

  .site-list__link-index {
    padding: 10px 0;
    color: @text-light;

    &--current {
      border-bottom: 2px solid @bg-light;
    }
  }
}
