.socials {
  padding: 22px 20px 21px 10px;
  border-bottom: 1px solid @border-light;
}

.socials__list {
  display: flex;
  justify-content: center;
  align-items: center;
  .list-reset();
}

.socials__item {
  &:not(:first-child) {
    margin-left: 39px;
  }
}

.socials__link {
  display: block;

  &::before {
    .pseudo();
  }

  &--vk,
  &--vk::before {
    width: 22px;
    height: 12px;
  }

  &--vk::before {
    background-image: url("../img/icon-vk.svg");
    .bg-image();
  }

  &--vk:hover::before,
  &--vk:focus::before {
    background-image: url("../img/icon-vk-green.svg");
  }

  &--insta,
  &--insta::before {
    width: 16px;
    height: 16px;
  }

  &--insta::before {
    background-image: url("../img/icon-insta.svg");
    .bg-image();
  }

  &--insta:hover::before,
  &--insta:focus::before {
    background-image: url("../img/icon-insta-green.svg");
  }

  &--fb,
  &--fb::before {
    width: 10px;
    height: 19px;
  }

  &--fb::before {
    background-image: url("../img/icon-fb.svg");
    .bg-image();
  }

  &--fb:hover::before,
  &--fb:focus::before {
    background-image: url("../img/icon-fb-green.svg");
  }

  &:active {
    opacity: 0.3;
  }
}
