.socials {
  padding-top: 22px;
  padding-bottom: 21px;
  border-bottom: 1px solid @border-light;
}

.socials__list {
  display: flex;
  justify-content: center;
  align-items: center;
  .list-reset();
  padding-right: 10px;
}

.socials__item {
  &:not(:first-child) {
    margin-left: 39px;
  }
}

.socials__link {
  display: block;
  font-size: 0;

  &::before {
    .pseudo();
  }

  &--vk,
  &--vk::before {
    width: 22px;
    height: 12px;
  }

  &--vk::before {
    background-image: url("../img/icon-vk.svg");
    .bg-image();
  }

  &--vk:hover::before,
  &--vk:focus::before {
    background-image: url("../img/icon-vk-green.svg");
  }

  &--insta,
  &--insta::before {
    width: 17px;
    height: 16px;
  }

  &--insta::before {
    background-image: url("../img/icon-insta.svg");
    .bg-image();
  }

  &--insta:hover::before,
  &--insta:focus::before {
    background-image: url("../img/icon-insta-green.svg");
  }

  &--fb,
  &--fb::before {
    width: 11px;
    height: 20px;
  }

  &--fb::before {
    background-image: url("../img/icon-fb.svg");
    .bg-image();
  }

  &--fb:hover::before,
  &--fb:focus::before {
    background-image: url("../img/icon-fb-green.svg");
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .socials {
    padding: 0 0 7px;
    border-bottom: none;
  }

  .socials__list {
    margin-left: 18px;
    padding: 0;
  }

  .socials__item {
    &:not(:first-child) {
      margin-left: 28px;
    }
  }

  .socials__link {
    &--vk,
    &--vk::before {
      width: 30px;
      height: 16px;
    }

    &--insta,
    &--insta::before {
      width: 25px;
      height: 25px;
    }

    &--fb,
    &--fb::before {
      width: 15px;
      height: 28px;
    }
  }
}
