.subtitle {
  position: relative;

  &::before {
    .pseudo;
    z-index: -1;
    top: 15px;
    height: 3px;
    width: 100%;
    background-color: @bg-accent;
  }
}

.subtitle__wrapper {
  padding-left: 0;
  display: flex;
}

.subtitle__text {
  background-color: #ffffff;
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
  width: min-content;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: @additional-font;

  &::first-line {
    background-color: @bg-light;
  }
}

@media (min-width: @tablet-width) {
  .subtitle {
    &::before {
      top: 21px;
    }
  }

  .subtitle__wrapper {
    padding-left: 28px;
  }

  .subtitle__text {
    width: max-content;
    padding-left: 39px;
    padding-right: 37px;
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: @desktop-width) {
  .subtitle__wrapper {
    padding: 0;
  }

  .subtitle__text {
    padding-left: 40px;
    padding-right: 42px;
  }
}
