// Width
@mobile-width-only: 767px;
// Retina
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
// Font
@additional-font: "Oswald", "Arial", sans-serif;
// Background
@bg-light: #ffffff;
@bg-accent: #68b738;
@bg-accent-dark: #5eaa2f;
@die: #f2f2f2;
@die-hover: #ebebeb;
// Border
@border: #cdcdcd;
@border-light: #d9d9d9;
@border-lighter: #e6e6e6;
@border-lightest: #ededed;
@form-element: #d8d8d8;
@form-element-hover: #bcbcbc;
@border-focus: #444444;
@border-error: #ff8282;
@border-button: #bebebe;
// Text
@text-accent: #111111;
@text-main: #444444;
@text-light: #ffffff;
